[Desktop Entry]
Version=1.0
Type=Application
Name=AhMyth
Comment=Advanced Android RAT
Exec=npm start
Icon=AhMyth/AhMyth-Server/build/icons/64x64.png
Path=AhMyth/AhMyth-Server
Terminal=false
StartupNotify=false
