<div class="ui segment h100">

    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">Steganography Configuration</th>
            </tr>
        </thead>
        <tbody>
    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">
                        <label>APK Steganography</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="center aligned">
                <td colspan="2">
                    <button ng-click="BrowseApk()" class="ui black labeled icon button "><i class="file open icon" ></i>Choose APK</button>
                    <button ng-click="BrowseApk()" class="ui black labeled icon button "><i class="image open icon" ></i>Choose Image</button>
                    <tr class="center aligned">
                <td colspan="2">
        <tfoot class="full-width">
            <tr class="center aligned">
                <th colspan="2">
                    <button ng-click="Combine()" class="ui labeled icon blue button"><i class="shield icon"></i>Combine</button>
                </th>
            </tr>
        </tfoot>
    </table>
</div>