<div class="ui segment h100">

    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">Steganography Configuration</th>
            </tr>
        </thead>
        <tbody>
    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">
                        <label>Bind Persistence</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="left aligned">
                <td colspan="2">
                    <tr class="center aligned">
                <td colspan="2">
                    <button ng-click="BrowseFile()" class="ui black labeled icon button "><i class="folder open icon" ></i>Browse Persistence file</button>
                    <button ng-click="BrowseFile()" class="ui black labeled icon button "><i class="image open icon" ></i>Browse Image file</button>
                    <tr class="right aligned">
                <td colspan="2">
        <tfoot class="full-width">
            <tr class="center aligned">
                <th colspan="2">
                    <button ng-click="Bind(srcPersFile, srcImage)" class="ui labeled icon green button"><i class="lab icon" ></i>Bind</button>
                </th>
            </tr>
        </tfoot>
    </table>
</div>