<div class="ui segment h100">

    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">URL Hider Configuration</th>
            </tr>
        </thead>
        <tbody>
    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">
                        <label>Payload Url Hider</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="center aligned">
                <td colspan="2">
                    <div class="ui labeled fluid input">
                        <div class="ui black label">
                        Url Masking
                        </div>
                     <input ng-model="srcIcon" type="text" id="targeturl" name="icon" placeholder="URL to be hidden (ex: www.facebook.com)">
                     <input ng-model="SrcApkName" type="text" id="hiddenurl" placeholder="URL to be shown">
                     <div class="ui labeled fluid input">
                        <div class="ui black label">
                        Payload Url
                        </div>
                    <tr class="center aligned">
                <td colspan="2">

                    <tfoot class="full-width">
                <tr class="center aligned">
                    <th colspan="2">
                        <button ng-click="callmaskpy(Build)" class="ui labeled icon blue button"><i class="download icon"></i>Generate Link</button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
                     

